Source: dart-editor-amd64
Section: devel
Priority: optional
Maintainer: Paolo Rotolo <paolorotolo@ubuntu.com>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.9.5


Package: dart-editor-amd64
Architecture: all
Depends: ${misc:Depends}
Description: Dart Editor for Ubuntu.
 Dart Editor, with its static analysis engine and direct integration with Dartium, helps you develop, debug, and maintain your apps.
